{
  "endOfLine": "auto",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "singleAttributePerLine": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",

  "plugins": ["@trivago/prettier-plugin-sort-imports"],

  "importOrder": [
    ".css$",
    "^react",
    "^react-dom",
    "^react-router",
    "<THIRD_PARTY_MODULES>",
    "^@app(/.*)?$",
    "^@pages(/.*)?$",
    "^@widgets(/.*)?$",
    "^@features(/.*)?$",
    "^@entities(/.*)?$",
    "^@shared(/.*)?$",
    "^@/",
    "^[../]",
    "^[./]"
  ],

  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
